@model Movie


<div class="row mb-5">
    <div class="col-md-12">


        <div class="card mb-3">
            <div class="card-body">
                <div class="row no-gutters"> 
                        <div class="col-md-4" >
                            <img src="@Model.ImageUrl" alt="@Model.Description" class="card-img" style="border: 3px solid #09e3e5;width:auto;height:475px"/>
                        </div>
                        <div class="trailer">
                            <iframe width="634" height="475" src="@Model.TrailerUrl" title="YouTube video player" style="border: 3px solid #09e3e5;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title" style="color:#09e3e5;">
                                <b>@Model.Name</b>
                            </h3>
                            <p class="card-text">@Model.Description</p>
                            <br />
                            <p class="card-text"><b style="font-size: 20px; color:#09e3e5">Yönetmen: </b>@Model.Yonetmen</p>
                            <br />
                            <p class="card-text"><b style="font-size: 20px; color:#09e3e5">Oyuncular: </b>@Model.Oyuncular</p>
                            <br />
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <br />
        <a href="/home/index">Ana menüye dön</a>
        <br />
        <br />
        <br />
    </div>

    


</div>
